
/* GOOGLE FONT - ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body{
    background:#f2f2f2;
    font-family: 'Roboto', sans-serif;}
    
  header {
    width: 100%;
    background: #be1010;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-left img {
    width: 150px;
}

/* FIXED: Navigation spacing works here */
.nav-left nav {
    display: flex;
    gap: 40px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
/* Hover Effect */
nav a:hover{
    color: yellow;
}

/* Active (Selected) Link */
nav a.active{
    color: yellow;
}

/* Smooth transition */
nav a{
    transition: color 0.3s ease;
}
.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
    /* space between search & icon */
}

.search-box input {
    padding: 7px 12px;
    border-radius: 10px;
    border: 2px solid black;
    width: 250px;
    margin-right:50px;
}

.user-icon {
    font-size: 22px;
    color: white;
    margin-left: 5px;

}


  /* RESPONSIVE */
  @media (max-width: 900px) {
      .navbar {
          flex-direction: column;
          gap: 10px;
      }

      .menu {
          flex-wrap: wrap;
          gap: 20px;
          justify-content: center;
      }

      .search-box input {
          width: 100%;
      }
  }

.signup-card{
    max-width: 60%;
    margin: 80px auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    background: hsl(320, 13%, 95%);
    overflow: hidden;
}

.signup-header{
    background: #c40000;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}

.signup-body{
    padding: 80px 40px 40px;
    
}

label{
    font-weight: 400;
    margin-bottom: 4px;
    font-size:20px ;

}

input{
    height: 32px;
    font-size: 14px;
}

.captcha-text{
    text-align: center;
    color: #c40000;
    font-size: 20px;
    font-weight: bold;
    margin: 25px 0 10px;
    letter-spacing: 2px;
}

.captcha-input{
    width: 180px;
    margin: auto;
    border-radius: 2px;
}

.signup-btn{
    background: #c40000;
    color: white;
    border: none;
    padding: 6px 20px;
    border-radius: 4px;
}

.signup-btn:hover{
    background: #a00000;
}


/* FOOTER */
  .footer {
      width: 100%;
      background: #be1010;
      color: white;
      padding: 40px 60px;
      margin-top: 0;
  }

  footer h3 {
      margin-bottom: 15px;
      font-size: 20px;
  }

  /* 4 Columns Layout */
  .footer-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 40px;
  }

  /* Footer Links */
 .footer a {
      color: white;
      text-decoration: none;
      font-size: 18px;
      margin-bottom: 6px;
      display: block;
  }

  /* Contact info items */
  .footer-contact-item {
      margin-bottom: 12px;
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 18px;
  }

  .footer-contact-item span {
      font-size: 22px;
  }

  /* Horizontal Line */
  .footer-line {
      width: 100%;
      height: 1px;
      background: white;
      margin: 40px 0;
  }

  /* Bottom row (text + icons) */
  .footer-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 15px;
  }

  /* Copyright text */
  .footer-bottom p {
      margin: 0;
      margin-left: 200px;
      font-size: 18px;
  }

  /* Social icons */
  .social-icons {
      display: flex;
      gap: 15px;
      font-size: 26px;
      margin-right: 400px;
  }

  .social-icons i {
      cursor: pointer;
      transition: 0.3s;
  }

  .social-icons i:hover {
      transform: scale(1.2);
  }


  /* Responsive */
  @media (max-width: 992px) {
      .card {
          width: 48%;
      }
  }

  @media (max-width: 600px) {
      .card {
          width: 100%;
      }

      .main-section h1 {
          font-size: 28px;
      }
  }


  /* RESPONSIVE */
  @media (max-width: 768px) {
      .left-content {
          padding: 30px;
          text-align: center;
      }

      .right-image img {
          height: 300px;
      }
  }
